make/scenario1-import.json
{
  "name": "bloom focus — Pinterest Import (GitHub → Sheets)",
  "flow": [
    {
      "id": 1,
      "module": "http:ActionGetFile",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://raw.githubusercontent.com/dianahohol97-max/content/main/pinterest_current.json",
        "method": "get",
        "headers": [],
        "qs": [],
        "followRedirect": true,
        "gzip": true,
        "rejectUnauthorized": true
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {}
      }
    },
    {
      "id": 2,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": { "type": "" },
      "mapper": { "json": "{{1.data}}" },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {}
      }
    },
    {
      "id": 3,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": { "array": "{{2.array}}" },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {}
      }
    },
    {
      "id": 4,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": { "__IMTCONN__": 13180049 },
      "mapper": {
        "from": "drive",
        "mode": "select",
        "spreadsheetId": "1G3mSPkLiRDg2LZEaDks3ubLzR3QIX18PtWH_uD4mFXk",
        "sheetId": "Sheet1",
        "includesHeaders": true,
        "insertDataOption": "INSERT_ROWS",
        "valueInputOption": "USER_ENTERED",
        "values": {
          "0": "{{3.id}}",
          "1": "{{3.day}}",
          "2": "{{3.pinType}}",
          "3": "{{3.funnel}}",
          "4": "{{3.title}}",
          "5": "{{3.description}}",
          "6": "{{3.board}}",
          "7": "{{3.imageUrl}}",
          "8": "",
          "9": "{{3.destinationUrl}}",
          "10": "{{3.boardId}}",
          "11": "pending",
          "12": "",
          "13": ""
        }
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 },
        "restore": {}
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] }
  }
}
