make/scenario2-poster.json
{
  "name": "bloom focus — Pinterest Poster (Sheets → Pinterest)",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": { "__IMTCONN__": 13180049 },
      "mapper": {
        "from": "drive",
        "mode": "select",
        "spreadsheetId": "1G3mSPkLiRDg2LZEaDks3ubLzR3QIX18PtWH_uD4mFXk",
        "sheetId": "Sheet1",
        "includesHeaders": true,
        "filter": {
          "0": [
            {
              "a": "Status",
              "b": "text:equal",
              "o": "pending"
            }
          ]
        },
        "sortOrder": "asc",
        "limit": "1"
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {}
      }
    },
    {
      "id": 2,
      "module": "pinterest:createPin",
      "version": 2,
      "parameters": { "__IMTCONN__": 14352163 },
      "mapper": {
        "board_id": "{{1.`10`}}",
        "title": "{{1.`4`}}",
        "description": "{{1.`5`}}",
        "link": "{{1.`9`}}",
        "media_source": {
          "source_type": "image_url",
          "url": "{{1.`7`}}"
        }
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {}
      }
    },
    {
      "id": 3,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": { "__IMTCONN__": 13180049 },
      "mapper": {
        "from": "drive",
        "mode": "select",
        "spreadsheetId": "1G3mSPkLiRDg2LZEaDks3ubLzR3QIX18PtWH_uD4mFXk",
        "sheetId": "Sheet1",
        "includesHeaders": true,
        "rowNumber": "{{1.`__ROW_NUMBER__`}}",
        "values": {
          "11": "posted",
          "12": "{{now}}",
          "13": "{{2.id}}"
        }
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {}
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] }
  }
}
